body {
    margin: 0px 0px 0px 0px;
}

a {
    font-family: Montserrat;
    color: #727272;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
}

footer {
    background-color: #333333;
    height: 45px;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    color: #999999;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;
}

select::-ms-expand {
    display: none;
}

footer a {
    color: #999999;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.social-banner a {
    color: #ffffff;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 48px;
    margin: 0px 20px;
    border-radius: 2px;
}

.menu-item:hover .menu-body {
    height: 527px;
    opacity: 1;
    transition: 1s;
    transition-delay: 400ms;
    visibility: visible;

}

.menu-body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.menu-body {
    transition: 400ms;
    height: 0px;
    background-color: #f8f8f8;
    box-shadow: 8px 15px 24px 0px rgba(0, 0, 0, 0.14);
    height: 0;
    width: 467px;
    z-index: 999;
    opacity: 0;
    display: flex;
    flex-direction: column;
    cursor: default;
    visibility: hidden;
    position: absolute;
}

.goods {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 0px;
}

.goods-title {
    font-family: Montserrat;
    color: #575153;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 25px;
}

.casual {
    width: 50%;
    margin-left: 25px;
}

.formal {
    width: 50%;
}

.goods a {
    font-family: Montserrat;
    color: #727272;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px;

}

.sale {
    background-color: #333333;
    width: 407px;
    height: 200px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 48px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

.sale-title {
    font-weight: 700;
    letter-spacing: 4px;
}

.photo-item-container:hover {
    box-shadow: 0 0 50px #dfdfdf;
    border-radius: 3px;

}

.photo-item-container {
    position: relative;
    width: 100%;
}

.photo-item-container:hover .photo-dropdown {
    visibility: visible;
    height: auto;
    transition: 500ms;
    transition-delay: 1s;
    min-height: 150px;
}

.photo-dropdown {
    background-color: #fff;
    width: inherit;
    min-width: 0;
    word-wrap: break-word;
    height: 0px;
    position: absolute;
    visibility: hidden;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.photo-actions a {*/
/*background: #575153;*/
/*color: #ffffff;*/
/*border-radius: 40%;*/
/*}*/

.photo-actions {
    display: flex;
    font-family: FontAwesome;
    color: black;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 36px;
}

.photo-action:hover{
    background-color: #00c8c8;
}

.photo-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: #454647;
    color: #FFFFFF;
    margin: 10px 7px;
    cursor: pointer;
}

.photo-description {
    font-family: Roboto;
    margin: 20px 20px 0px 20px;
    color: #8e8c8c;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.photo-description-title {
    margin: 20px 20px 0px 20px;
    font-family: Montserrat;
    color: #727272;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;
    text-align: center
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.header {
    background-color: #333333;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.select {
    border: none;
    background: transparent;
    cursor: pointer;
}

.main-menu-text {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 100;
    line-height: 21px;
}

.alignment-container {
    width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.curency-select {
    align-self: center;
}

.main-menu-item {
    margin-left: 45px;
    cursor: pointer;
}

.cart {
    color: white;
    background-color: #00c8c8;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 147px;
    height: 45px;
    cursor: pointer;
}

.right-part {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-items {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    /*height: auto;*/
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-grow: 1;
    margin: 0px 10px;
    cursor: pointer;
}

.menu-item:hover {
    color: #00c8c8;
}

.search-item {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center
}

.search-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 70%;
    color: #989898;
    padding: 0px 10px;
}

.search-input {
    height: 30px;
    background-color: transparent;
    border: none;
    width: 80%;
    outline: none;
}

.cart-select {
    color: #FFFFFF;
}

.grey {
    color: #777777;
}

.hello-container {
    background: #f8f8f8 url("../img/man.png") no-repeat;
    background-position-x: -150px;
    height: 920px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.site-menu {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /*height: 40px;*/
    width: 100%;
}

.right-site-menu {
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.left-site-menu {
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.hello-container {
    background: #f8f8f8 url("../img/man.png") no-repeat;
    background-position-x: 30%;
    height: 920px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.title {
    font-weight: 900;
}

.ave-container {
    justify-content: center;
}

.ave {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-weight: 900;
    color: #575153;
    font-size: 450px;
    line-height: 450px;
    cursor: default;
    width: 80%;
    /*margin-left: 200px;*/
    margin-top: 100px;
}

.letter {
    /*margin: 100px;*/
}

.main-button-container {
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%
}

.main-button {
    font-family: Montserrat;
    letter-spacing: 3px;
    color: #454647;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    border: 2px solid #737373;
    box-sizing: border-box;
    background-color: rgba(115, 115, 115, 0);
    width: 342px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
    margin-bottom: 120px;
    cursor: pointer;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.photos-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 90%;
}

.separator {
    background-color: #eeeeee;
    width: 100%;
    height: 1px;
    margin: 50px 0;
}

.categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.category {
    font-family: Montserrat;
    color: #727272;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.category:hover {
    color: #00c8c8;
}

.flex {
    display: flex;
}

.photo-column-container {
    justify-content: center;
}

.photo-column {
    flex-direction: column;

}

.left-photo-column {
    flex-direction: column;
    margin-right: 0px
}

.right-photo-column {
    flex-direction: column;
    margin-left: 30px
}

.photo-column img {
    width: 100%;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 15px
}

.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

.price {
    font-family: Montserrat;
    color: #9a9a9a;
    font-size: 21px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    position: absolute;
    z-index: 1;
    margin: 10px;
}

.pound {
    font-size: 11px;
    margin-top: 3px;
    margin-right: 2px;
    width: auto;
}

.strike {
    text-decoration: line-through;
}

.reclame-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reclame {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 32%;
    height: 500px;
    background-color: #f8f8f8;
    margin: 0px 12px;
    overflow: hidden;
    min-height: 340px;
}

.reclame img {
    max-width: 100%;
    height: auto;
}

.reclame-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.reclame-text {
    font-family: Roboto;
    color: #727272;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: right;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

}

.reclame-title {
    font-family: Montserrat;
    color: #575153;
    font-size: 48px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 54px; /* Приближение из-за подстановки шрифтов */
    text-align: right;
    /*letter-spacing: 2px;*/
}

.bold-title {
    font-weight: 700;
}

.view-now {
    border: 2px solid #737373;
    box-sizing: border-box;
    background-color: rgba(115, 115, 115, 0);
    width: 180px;
    height: 59px;
    font-family: Montserrat;
    color: #454647;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 30px;
    cursor: pointer;
}

.view-now:hover {
    color: #f8f8f8;
    background-color: #00c8c8;
    border-color: #00c8c8;
}

.info-container {
    background-color: #f8f8f8;
    /*height: 596px;*/
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.info-title {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.flex-column {
    flex-direction: column;
    margin-top: 100px;
    font-family: Montserrat;
    color: #727272;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.adaptive-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-alignment-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0px;
}

.banner {
    width: 570px;
    height: 200px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award-banner {
    background-color: #333333;
    font-family: Montserrat;
    flex-direction: column;
    letter-spacing: 2px;
}

.award-title {
    font-weight: 700;
}

.social-banner {
    background-color: #00c8c8;
}

.tm {
    font-size: 7px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.footer-item {
    display: flex;
    align-items: center;
    height: 100%;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/montserrat/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular1.ttf");
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 1680px) and (min-width: 810px) {
    #lookbook .menu-body {
        right: 0px;
    }
}

@media (max-width: 1547px) and (min-width: 810px) {
    #localstores .menu-body {
        right: 0px;
    }
}

@media (max-width: 1318px) and (min-width: 810px) {
    #brand .menu-body {
        right: 0px;
    }
}

@media (max-width: 1143px) and (min-width: 810px) {
    #woomens .menu-body {
        right: 0px;
    }
}

@media (max-width: 1071px) and (min-width: 810px) {
    #mens .menu-body {
        right: 0px;
    }
}

@media (max-width: 1680px) {
    .reclame-container {
        justify-content: center;
    }

    .reclame {
        width: 574px;
        margin-top: 20px;
    }
}

@media (max-width: 1500px) {
    .search-inner {
        width: 90%;
    }
}

@media (max-width: 1350px) {
    .main-button {
        margin-right: 150px;
    }
}

@media (max-width: 1214px) {
    .curency-select {
        margin-left: 5px;
    }

    .search-inner {
        width: 100%;
    }

    .ave {
        font-size: 300px;
    }

    .reclame {
        width: 47%;
        height: 40vw;
    }
}

@media (max-width: 1122px) {
    .main-button {
        margin-right: 50px;
    }
}

@media (max-width: 1071px) {
    .right-site-menu {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
}

@media (max-width: 1033px) {
    .reclame {
        width: 663px;
        height: 503px;
    }

    .banner-container {
        flex-direction: column;
        align-items: center;
    }

    .banner {
        height: 100px;
        margin-top: 10px;
    }

}

@media (max-width: 850px) {
    .adaptive-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .flex-column {
        line-height: 20px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 12px;
    }

}

@media (max-width: 810px) {
    .site-menu {
        flex-direction: column;
        width: 260px;
        margin-top: 100px;
    }

    .menu-items {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        font-size: 30px;
        order: 1;
    }

    .menu-item {
        margin: 20px 0px;
        width: inherit;
    }

    .right-site-menu {
        align-items: flex-start;
        padding-left: 5%;
        width: inherit;
    }

    .left-site-menu {
        /*width: 200px;*/
        font-size: 30px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .photo-column-container {
        flex-direction: column;
    }

    .photo-column {
        margin: 30px 0px 0px 0px;
    }

    .hello-container {
        flex-direction: row;
        align-items: stretch;
    }

    .main-button {
        margin-right: 0px;
    }

    .main-button-container {
        justify-content: flex-start;
    }

    .ave-container {
        display: none;
    }

    .search-item {
        order: 0;
        margin-top: 50px;
        width: 100%;
        border: 2px solid #e7e7e7;
    }

    .search-inner {
        border: 2px #e7e7e7;
    }

    #mens .menu-body-container {
        align-items: flex-start;
    }
}

@media (max-width: 630px) {
    .hello-container {
        flex-direction: column;
    }

    .main-button {
        margin: 0px;
    }

    .main-button-container {
        justify-content: center;
        margin-bottom: 150px;
    }

    .menu-items {
        margin-top: 50px;
    }

    .categories {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0px;
    }

    .category {
        font-size: 30px;
        line-height: 40px;
        margin: 0px;
    }

    .separator {
        margin: 25px 0px;
    }

    .reclame {
        height: 80vw;
    }

    .reclame-title {
        font-size: 28px;
    }

    .banner {
        width: 90%;
        font-size: 19px;
    }
}

@media (max-width: 571px) {
    .price {
        font-size: 12px;
    }

    .pound {
        margin: 0;
    }

    footer {
        height: auto;
        justify-content: flex-start;
    }

    footer .alignment-container {
        height: 100px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-item {
        height: auto;
    }

    footer .right-part {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .margin-left {
        margin-left: 0px;
    }
}

@media (max-width: 509px) {
    .main-menu-item {
        margin-left: 3%;
    }

    .cart {
        width: 90px;
    }

    .menu-body {
        width: 95%;
        box-shadow: none;
    }

    .casual {
        margin-left: 10px;
        width: auto;
    }

    .formal {
        width: auto;
        margin-left: 30px;
    }

    .goods {
        width: 100%;
        justify-content: flex-start;
    }

    .sale {
        width: 100%;
    }

    .photo-pair {
        flex-direction: column;
    }

    .photo-dropdown {
        position: static;
    }
}

@media (max-width: 377px) {
    .main-menu-item {
        margin-left: 3%;
    }

    .main-button {
        width: 96%;
    }

    .reclame {
        margin: 10px 0 0 0;
    }

    .reclame-text {
        margin-right: 20px;
    }

    .view-now {
        width: 160px;
    }

}